@import 'src/assets/styles/variables';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.profile {
    > .count .heading {
      color: #775f5f;
    }
  }

  > .count {
    width: 27%;
    font-size: 24px;
    text-align: center;

    @media (max-width: $mobile) {
      font-size: 18px;
    }

    .heading {
      color: $dark-accent;
      text-transform: capitalize;
    }

    .number {
      font-weight: bold;
      color: #fff;
    }
  }
}
