@import 'src/assets/styles/animations';
@import 'src/assets/styles/variables';

.alert {
  width: 100%;
  background-color: #5be7c4;
  color: #252a34;
  margin-bottom: 1rem;
  animation: opacity 0.4s;
  padding: 10px;
  border-radius: 10px;

  &.error {
    background-color: #ff2e63;
    color: $white;
  }

  &.info {
    background-color: #50c1e9;
  }

  &.warning {
    background-color: #f75940;
    color: $white;
  }
}
