@import 'src/assets/styles/variables';
@import 'src/assets/styles/animations';

.wrapper {
	position: relative;

	button {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}

	> button {
		font-size: 30px;

		> svg {
			> path {
				fill: #fff;
			}
		}
	}

	.menu {
		position: absolute;
		top: calc(100% + 8px);
		right: 0;
		background-color: #fff;
		padding: 10px 12px;
		font-size: 16px;
		box-shadow: $bx-16;
		border-radius: 10px 0 10px 10px;
		min-width: 116px;
		display: none;
		animation: opacity 0.4s;

		&.show {
			display: block;
		}

		> ul {
			list-style: none;

			button {
				font-size: 16px;
			}

			a {
				color: #000;
				text-decoration: none;
				transition: color 0.2s ease;

				&:hover,
				&.active {
					color: $accent;
					margin: 4px 0;
				}
			}
		}
	}
}
