@import 'src/assets/styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
